Images/
*.log
Zedboard/.metadata/*
zebdoard_sgm/zebdoard_sgm.srcs/sources_1/bd/img_proc_hw/ip/*
zebdoard_sgm/zebdoard_sgm.srcs/sources_1/bd/img_proc_hw/ipshared/*
zebdoard_sgm/zebdoard_sgm.cache/*
zebdoard_sgm/zebdoard_sgm.runs/
zebdoard_sgm/zebdoard_sgm.sdk/
zebdoard_sgm/zebdoard_sgm.srcs/sources_1/bd/img_proc_hw/ipshared/
